*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



/*........HEADER PROYECTO..........*/





/*.......................*/
.header{
    display: flex;
    justify-content: end;
    background-color: rgb(231, 193, 48);
    padding-top: 30px;
   
    
}


.header__logo{
    width: 8px;
    height: 0px;
    position: fixed;
    top: 10px;
    left: 1%;
    bottom:0%;
    right: 0%;
    scale: 15%;
}

    
.header__paginas{
    
    display: flex;
    
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
    
    
  
    
    padding-bottom: 2rem;
    font-size: 125%;
    list-style: none;   
}

.header__paginas_a{
    
    
    color: rgb(52, 53, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    padding: 7px;
    margin: 28px;
    position: relative;  
      

}

a{
    
    text-decoration: none;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}

/*.....FOOTER PROYECTO....*/


.footer{
    background-color: rgb(231, 193, 48);
}

.footer__universal_proyecto{
    display: flex;
    padding: 35px;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

}


.footer__text{

    color:  rgb(43, 42, 40);
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: bold;
    width: 250px;
    text-align: center;
    
}


.footer__logo{
    width: 100px;
    

}



.footer__iconoredes{
    width: 100px;
    margin: 10px;
    

}



/*..................................*/


/*BODY INICIO*/



.inicio{
    background-image: url(../img/fondo/black-concrete-wall.jpg);
    background-size: cover;
}

.inicio_sectionuno{
    padding: 55px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
      
      
}





.inicio_sectionuno_imagen{
    
    
    border-radius: 2em;  
    border-style: ridge;
    border-color: rgb(231, 193, 48);
    width: 300px;
    


}


.inicio_sectionuno_a{
    display: flex;
    justify-content: center;

    color: rgb(71, 69, 69);
    font-weight: bolder;
    background-color:  rgb(231, 193, 48);
    border-radius: 0px;
    margin: 10px;
    padding: 5px;


}
.inicio_sectiondos{
   
    margin: 62px;    
    
}


.inicio_sectiondos_h1{
    display: flex;
    color: rgb(231, 193, 48);
       
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 350%  ;
    margin: 120px;
    margin-bottom: 50px;
    margin-top: 1px;
   justify-content: space-around;
   text-align: center;
    
}

.inicio_sectiondos_grupo{
    display: flex;
    justify-content: space-around;
    
    margin: 10px;





}


.inicio_sectiondos_img{
    
    padding: 5%;
    width: 250px;
}

.h1{
    display: none;
}




.inicio_sectiontres{
    background-image: url(../img/fondo/black-concrete-wall.jpg);
    
    display: flex;
    align-items: center;
    
       
}
.inicio_sectiontres_video{
    width: 600px;
    margin: 20px;

}   

.inicio_sectiontres_h1{

    text-align: center;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 500%;
}

    
    
   
    
    
    
    
    




/*..................BODY BUZOS...................*/

.esqueleto__universal_buzos{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px ;
    


}  

.buzos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.buzos_titulo{
    background: url(../img/fondo/black-concrete-wall.jpg);
    color: rgb(231, 193, 48);
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding: 50px;
    margin: 60px;
  
}




.buzos_img{
    
    width: 300px;

    margin: 50px;
}

.buzos_button{
    display: flex;
    justify-content: center;

}





/*..................BODY GORRAS...................*/




.esqueleto__universal_gorras{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px ;
    


}  

.gorras{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.gorras_titulo{
    background: url(../img/fondo/black-concrete-wall.jpg);
    color: rgb(231, 193, 48);
    text-align: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    padding: 50px;
    margin: 60px;
  
}



.gorras_img{
    
    width: 300px;

    margin: 50px;
}

.gorras_button{
    display: flex;
    justify-content: center;

}



/*..................BODY EQUIPO...................*/


.esqueleto__universal_equipo{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px ;
    


}
.equipo{
    display: flex;
    flex-direction: row-reverse;
    
    
   

}
.equipo_imagen{
    border-radius: 2em;    
    width: 815px;
    padding: 10px;
    
   
    
}

.equipo_text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:  rgb(71, 69, 69);   
    font-style: oblique;
    margin: 30px;
    text-align: end;
    font-size: 2.5rem;

 
}


/*..................BODY CONTACTO...................*/



.esqueleto__universal_contacto{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 10px ;


}
.contacto{
    background: url(../img/fondo/black-concrete-wall.jpg);
    
    
}
.contacto_form{
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: center;
    align-items: center;



}


.contacto_form_text{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(231, 193, 48);
    font-style: oblique;
    margin: 31px;
    text-align: center;
}

.contacto_form_contenedor{
    border: solid rgb(231, 193, 48);
    width: 400px;
    font-size: x-large;
    background: repeating-linear-gradient(45deg, black, transparent 310px);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contacto_form_fieldset{
    border: none;
    background-color: none;
}
.contacto_form_registrarme{
    background-color:rgb(231, 193, 48);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}





/*...............MEDIA QUERIES ESTILOS MOVILES...................*/


@media screen and (max-width: 1024px){

    
    
    .equipo {
        display: flex;
        flex-direction: row;
    }

    
    .equipo_imagen {
        width: 750px;
        padding: 10px;
        border-radius: 40px;
    }


    .equipo_text {
        text-align: start;
        font-size: 1.8rem;
        margin: 28px;
     }


}
















/*index*/



@media screen and (max-width: 768px){


/*header*/

        

    .header__logo{
      
        scale: 12%;
    }
    

    .header_botton{
        flex-direction: row-reverse;
    }
    
    .header__paginas_a{
        text-align: end;
        padding: 7px;
        margin: 0px;
        font-size: larger;
    }

    .footer__iconoredes {
        width: 70px;
    }        
    
    .footer__text{

        width: 13rem;
    }



        .inicio_sectionuno {
    
         flex-wrap: nowrap;
        }
        .inicio_sectionuno_imagen {
            
            width: 230px;
            margin: 10px;
        }

        .inicio_sectiondos_grupo {
            display: flex;
            /* margin: -52px; */
            flex-wrap: wrap;
         }

         .inicio_sectiondos_img{
            
            width: 312px;
        }



        .inicio_sectiontres{
            
            flex-direction: column;
        }
        .inicio_sectiontres_video{
            width: 740px;
            margin: 17px;
        }
       
        .inicio_sectiontres_h1 {
          font-size: 300%;
            padding: 50px;
        }

        .equipo {
            display: flex;
            flex-direction: row;
             }

        .equipo_text {
        
        text-align: start;
        font-size: 1.5rem;     

        }
        .equipo_imagen{
            width: 500px;
            padding: 0px;
            border-radius: 0px;
           
        

      }
}


/*.....................................................*/




@media screen and (max-width: 425px){

  
    
    .header_botton{
        flex-direction: row-reverse;
    }

    .header__logo{
        width: 8px;
        height: 0px;
        position: fixed;
        top: 10px;
        left: 1%;
        bottom:0%;
        right: 0%;
        scale: 10%;
    }
    
    .header__paginas_a{
        text-align: end;
        padding: 7px;
        margin: 0px;
    }
    
           
    .inicio_sectionuno{
        flex-direction: column;
        padding: 10px;
        align-items: center;

        }
   
    .inicio_sectionuno_a {
        width: 570;
        font-size: large;

        
        }

     .inicio_sectionuno_imagen{
            width: 300px;
    
    
    
    }   
    .inicio_sectiondos{

        flex-direction: column;
        align-items: center;
        margin: 1px;


    } 
         

    .inicio_sectiondos_h1{
        font-size: 35px;
        }    
        

    .inicio_sectiondos_img {
        padding: 5%;
        width: 148px;
    }
    
    .inicio_sectiondos_grupo {
        display: flex;
        margin: 10px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
    }
       

    .inicio_sectiontres{
        flex-direction: column;
        padding-bottom: 120px;

    }
    .inicio_sectiontres_video{
        width: 100%;
        margin-bottom: 100px;
    }
    .inicio_sectiontres_h1{
        font-size: 1.5rem;
        padding: 1px;
        
        
    }
    .iconos_redes{

        display: flex;
        padding: 10px;

    }

    .footer__universal_proyecto{
        flex-direction: column-reverse;
    } 

    .esqueleto__universal{
       
        grid-template-rows: auto 1fr  auto auto;      
       
    }
    

   
    .footer_universal_contenedores {
        display: flex;
        
    }


    
    .footer__iconoredes {
         width: 57px;
         padding: 10px;
    }


/*buzos*/

    .buzos_titulo{
        margin: 0px;
    }

    .buzos_img {
        width: 300px;
        padding: 10px;
        margin: 10px;
         }

/*gorras*/

    .gorras_titulo{
    margin: 0px;
    }

    .gorras_img {
    width: 300px;
    padding: 10px;
    margin: 10px;
     }    


/*equipo*/

    .equipo {
    display: flex;
    flex-direction: column; 
    }
    .equipo_text{

        margin: 25px;
        text-align: center;
        font-size: 1.2rem;
    }
    .equipo_imagen{
        width: 100%;

     }
    
   


/*contacto*/

    .contacto_form{
        height: 700px;

    }


    .contacto_form_contenedor{
        width: 274px;
        font-size: medium;

   
    }

}