
.esqueleto__universal_contacto{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: $medida_gral;
}

.contacto{
    background: url(../img/fondo/black-concrete-wall.jpg);
    &_form{
        display: flex;
        height: 800px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &_text{
            font-size: 20px;
            font-family: $fuenteperas_uno;
            color: $colorperas_uno;
            font-style: oblique;
            margin: 31px;
            text-align: center;}
        &_contenedor{
            border-color: darkgrey;
            width: 400px;
            font-size: x-large;
            background: repeating-linear-gradient(45deg, black, transparent 310px);
            text-align: center;
            font-family: $fuenteperas_uno;}
            color: $colorperas_uno;
        &_fieldset{
            border: none;
            background-color: none; }
        &_registrarme{
            background-color:$colorperas_uno;
            font-family: $fuenteperas_uno; }

    
    }

}


