.footer{
    background-color: $colorperas_uno;
    &__universal_proyecto{
        display: flex;
        padding: 35px;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        margin-top: $medida_gral;}
    &__text{
    
        color:  $colorperas_dos;
        font-family: $fuenteperas_dos;
        font-style: italic;
        font-weight: bold;
        width: 250px;
        text-align: center; }
    
    &__logo{
        width: 100px; }
    
    &__iconoredes{
        width: 100px;
        margin: $medida_gral;}
        
}






