
.header{
        display: flex;
        justify-content: end;
        background-color: $colorperas_uno;
        padding-top: 30px;   
        &__logo{
            width: 8px;
            height: 0px;
            position: fixed;
            top: $medida_gral;
            left: 1%;
            bottom:0%;
            right: 0%;
            scale: 15%;
        }
        &__paginas{
        
            display: flex;    
            font-family:  $fuenteperas_dos;
            font-weight: bolder;     
            padding-bottom: 2rem;
            font-size: 125%;
            list-style: none; 
            
            &_a{
                color: $colorperas_dos;
                font-family: $fuenteperas_uno;
                padding: 7px;
                margin: 28px;
                position: relative;          
            }
        }
       



}