
.header{
        display: flex;
        justify-content: end;
        background-color: rgb(231, 193, 48);
        padding-top: 30px;   
        &__logo{
            width: 8px;
            height: 0px;
            position: fixed;
            top: 10px;
            left: 1%;
            bottom:0%;
            right: 0%;
            scale: 15%;
        }
        &__paginas{
        
            display: flex;    
            font-family:  Tahoma, Geneva, Verdana, sans-serif;
            font-weight: bolder;     
            padding-bottom: 2rem;
            font-size: 125%;
            list-style: none; 
            
            &__paginas_a{
                color: rgb(52, 53, 9);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                padding: 7px;
                margin: 28px;
                position: relative;          
            }
        }
       



}