


.inicio{
    background-image: url(../img/fondo/black-concrete-wall.jpg);
    background-size: cover;
    &_sectionuno{
        padding: 55px;      
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        &_imagen{
            border-radius: 2em;  
            border-style: ridge;
            border-color: $colorperas_uno;
            width: 300px;}
        &_a{
            display: flex;
            justify-content: center;

            color: $colorperas_dos;
            font-weight: bolder;
            background-color: $colorperas_uno;
            border-radius: 0px;
            margin:$medida_gral;
            padding: 5px;}
    }

    &_sectiondos{ 
        margin: 62px;        
        &_h1{
            display: flex;
            color: $colorperas_uno;
            
            font-family: $fuenteperas_tres;
            font-size: 350%  ;
            margin: 120px;
            margin-bottom: 50px;
            margin-top: 1px;
        justify-content: space-around;
        text-align: center; }
       &_grupo{
            display: flex;
            justify-content: space-around; 
            margin:$medida_gral;}
        &_img{
            padding: 5%;
            width: 250px;
        }
    }

    &_sectiontres{
        background-image: url(../img/fondo/black-concrete-wall.jpg);
        display: flex;
        align-items: center;
        &_video{
            width: 600px;
            margin: 20px;}   
        &_h1{
            text-align: center;
            font-size: xx-large;
            color: rgb(255, 255, 255);
            font-family: $fuenteperas_tres;
            font-size: 500%; }
    }
            
}    
            
        
    
    
    
    
    

    
    
    

