
.esqueleto__universal_equipo{
    
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: $medida_gral ;
    }
    
.equipo{
    display: flex;
    flex-direction: row-reverse;
    &_imagen{
        border-radius: 2em;    
        width: 815px;
        padding: $medida_gral;}
    &_text{
        font-family: $fuenteperas_uno;
        color:  $colorperas_dos;   
        font-style: oblique;
        margin: 30px;
        text-align: end;
        font-size: 2.5rem; }  
}
