$colorperas_uno: rgb(231, 193, 48);
$colorperas_dos: rgb(45, 45, 42);
$medida_gral: 10px;
$fuenteperas_uno: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$fuenteperas_dos: 'Tahoma', Geneva, Verdana, sans-serif;
$fuenteperas_tres: 'Verdana', Geneva, Tahoma, sans-serif;